.text-x {
  color: #000000;
}
.text-facebook {
  color: #1778f2;
}
.text-bluesky {
  color: #0085ff;
}
.text-discord {
  color: #5865f2;
}
.text-reddit {
  color: #ff4500;
}
.text-hatena {
  color: #1da1f2;
}
.text-github {
  color: #333;
}
.text-connpass {
  color: #666;
}

.bg-x {
  background-color: #000000;
}
.bg-facebook {
  background-color: #1778f2;
}
.bg-bluesky {
  background-color: #0085ff;
}
.bg-discord {
  background-color: #5865f2;
}
.bg-reddit {
  background-color: #ff4500;
}
.bg-hatena {
  background-color: #1da1f2;
}
.bg-github {
  background-color: #333;
}
.bg-connpass {
  background-color: #666;
}

a {
  text-decoration: none !important;
}

.badge {
  /* color: inhelit; */
  color: #212519;
}
